.cityAdd__page {
	
	height: 100vh;

	#addCity {
		width: 100%
	}

	label {
		display: inline-block;
		font-size: 1.5em;
		cursor: pointer;
		margin-bottom: .5em;
	}

	input {
		text-align: center;
		font-size: 1.5em;
		width: 60%;
		padding: 10px;
		font-family: 'Roboto', sans-serif;
	}
}