.city__page {

	height: 100vh;

	// Current day 
	.city__currentDay {

		h1 {
			font-size: 3em;
			text-align: center;
			padding-top: 1em;
		}

		.city__temperature {
			font-size: 4em;
		}

		.city__additionalInfo {
			margin-top: 1em;
		}

		.city__currentHour {
			text-align: center;
			padding: .5em 0;
			font-size: 2em;
		}
	}

	// Tab selection
	.city__daySelection {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;

		.day__select {
			display: inline-block;
		}
	}

	// Slider
	.city__slider {
		width: 90%;
		position: absolute;
		bottom: 4em;
		left: 0;
		right: 0;
		margin: auto;
	}
}