.cities__page {
	
	height: 100vh;

	.cities__row,
	.cities__rowAdd {
		height: 100 / 6 * 1vh;
	}

	.cities__delete {
		background-image: url(/img/delete.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 50%;
	}

	.cities__rowAdd {
		background-color: #8BC34A;
		.cities__add {
			width: 30px;
		}
	}
}

// Set the background color based on the temperature
.js-temp {
	&-40 {
	background-color: #ff8700
	}

	&-37-39 {
	background-color: #ff8700
	}

	&-34-36 {
	background-color: #ff8700
	}

	&-31-33 {
	background-color: #ff8700
	}

	&-28-30 {
	background-color: #ff8700
	}

	&-25-27 {
	background-color: #ff8700
	}

	&-22-24 {
	background-color: #ff9b25
	}

	&-19-21 {
	background-color: #ffb230
	}

	&-16-18 {
	background-color: #ffcd30
	}

	&-13-15 {
	background-color: #ffdc36
	}

	&-10-12 {
	background-color: #fff83b
	}

	&-7-9 {
	background-color: #defc4e
	}

	&-4-6 {
	background-color: #c3ff5d
	}

	&-1-3 {
	background-color: #afa
	}

	&-0 {
	background-color: #69c3ff
	}

	&--1-3 {
	background-color: #69c3ff
	}

	&--4-6 {
	background-color: #69c3ff
	}

	&--7-9 {
	background-color: #69c3ff
	}

	&--10-12 {
	background-color: #69c3ff
	}

	&--13-15 {
	background-color: #69c3ff
	}

	&--16-18 {
	background-color: #69c3ff
	}

	&--19-21 {
	background-color: #69c3ff
	}

	&--22-24 {
	background-color: #69c3ff
	}

	&--25-27 {
	background-color: #69c3ff
	}

	&--28-30 {
	background-color: #69c3ff
	}

	&--31-33 {
	background-color: #69c3ff
	}

	&--34-36 {
	background-color: #69c3ff
	}

	&--37-39 {
	background-color: #69c3ff
	}

	&--40 {
	background-color: #69c3ff
	}
}