@for $i from 1 through 12 {
	.col-#{$i} {
		position: relative;
		float: left;
		width: $i * 100/12 * 1%;
	}

	.col-push-#{$i} {
		margin-left: $i * 100/12 * 1%;
	}
}

.row:before,
.row:after {
	display: table;
	content: " ";
}

.row:after {
	clear: both;
}