.icon {
	
	display: inline-block;
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 2.5em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	&:before {
		display: inline-block;
		width: 1em;
		text-align: center;
	}

	&.icon--big {
		font-size: 6em;
	}

	&.icon--small {
		font-size: 1em;
	}

	&.icon-clear-day:before {
		content: '\e999';
	}
	&.icon-clear-night:before {
		content: '\e95c';
	}
	&.icon-rain:before {
		content: '\e978';
	}
	&.icon-snow:before {
		content: '\e901';
	}
	&.icon-sleet:before {
		content: '\e97a';
	}
	&.icon-wind:before {
		content: '\e9cf';
	}
	&.icon-fog:before {
		content: '\e956';
	}
	&.icon-cloudy:before {
		content: '\e970';
	}
	&.icon-partly-cloudy-day:before {
		content: '\e972';
	}
	&.icon-partly-cloudy-night:before {
		content: '\e976';
	}

	&.icon-windP:before {
		content: '\e9c7';
	}
	&.icon-rainP:before {
		content: '\e91b';
	}

}