@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -o-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin font-smoothing($value: antialiased) {
    @if $value==antialiased {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@include keyframes(no-anim) {}

@mixin animation ($stuff) {
    -webkit-animation: $stuff;
    -moz-animation: $stuff;
    -ms-animation: $stuff;
    animation: $stuff;
}

@mixin filter($val) {
    -webkit-filter: $val;
    -o-filter: $val;
    -moz-filter: $val;
    -ms-filter: $val;
    filter: $val;
}

@function long-shadow($direction, $length, $color, $fade: false, $shadow-count: 100) {
    $shadows: ();
    $conversion-map: ( to top: 180deg, to top right: 135deg, to right top: 135deg, to right: 90deg, to bottom right: 45deg, to right bottom: 45deg, to bottom: 0deg, to bottom left: 315deg, to left bottom: 315deg, to left: 270deg, to left top: 225deg, to top left: 225deg);
    @if map-has-key($conversion-map, $direction) {
        $direction: map-get($conversion-map, $direction);
    }
    @for $i from 1 through $shadow-count {
        $current-step: ($i * $length / $shadow-count);
        $current-color: if(not $fade, $color, if(type-of($fade)=='color', mix($fade, $color, ($i / $shadow-count * 100)), rgba($color, 1 - $i / $shadow-count)));
        $shadows: append($shadows, (sin(0deg + $direction) * $current-step) (cos(0deg + $direction) * $current-step) 0 $current-color, 'comma');
    }
    @return $shadows;
}

@mixin font-face($name, $font-files, $eot: false, $weight: false, $style: false) {
    $iefont: unquote("#{$eot}?#iefix");
    @font-face {
        font-family: quote($name);
        @if $eot {
            src: font-url($eot);
            $font-files: font-url($iefont) unquote("format('embedded-opentype')"), $font-files;
        }
        src: $font-files;
        @if $weight {
            font-weight: $weight;
        }
        @if $style {
            font-style: $style;
        }
    }
}

@mixin user-select($select) {
    $select: unquote($select);
    @include with-each-prefix(user-select-none, $userselect-support-threshold) {
        // old Firefox used a proprietary `-moz-none` value, starting with Firefox 21 `none` behaves like `-moz-none`
        // @link https://developer.mozilla.org/en-US/docs/Web/CSS/user-select
        @include prefix-prop(user-select, if($current-prefix==-moz and $select=="none", -moz-none, $select));
    }
}
