// @import "sass-bootstrap/bootstrap";

@import "compass/reset";
@import "compass/css3";

@import "mixins";
@import "variables";
@import "icons";
@import "grid";
@import "page";

@import "cities";
@import "city";
@import "city.add";

@font-face {
	font-family: 'icons';
	src: url("/css/fonts/pe-icon-set-weather.eot?nlruav");
	src: url("/css/fonts/pe-icon-set-weather.eot?nlruav#iefix") format("embedded-opentype"), url("/css/fonts/pe-icon-set-weather.ttf?nlruav") format("truetype"), url("/css/fonts/pe-icon-set-weather.woff?nlruav") format("woff"), url("/css/fonts/pe-icon-set-weather.svg?nlruav#pe-icon-set-weather") format("svg");
	font-weight: normal;
	font-style: normal;
}

::-moz-selection {
    background: red;
    color: white;
    text-shadow: none;
}

::selection {
    background: red;
    color: white;
    text-shadow: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:   #999;
}

html {
	height: 100vh;
	overflow: hidden;
}

body {
	background: #A1C7D8;
	font-family: 'Roboto', sans-serif;
}

input, 
textarea{
    @include user-select('text!important');
}

a {
	color: inherit;
	text-decoration: none;
}

a, 
a:focus {
   outline: 0;
   outline:none
}

.fLeft {
	float:left;
}

.fRight {
	float:right;
}

.noEvents{
	pointer-events: none;
}

.transition{
	@include transition( all .3s linear!important);
}

.hiddenOverflow{
	overflow: hidden;
}

.block{
	display: block;
}

.iblock{
	display: inline-block;
}

.tCenter{
	text-align: center;
}

.tRight{
	text-align: right;
}

.tLeft{
	text-align: left;
}

.fullSize {
	position: relative;
	width:100%;
	height:100%;

	top:0;
	left:0;
} 

.fullHeight{
	height: 100%;
}

.fullWidth {
	width:100%;
}

.align_left{
	position: absolute;
	float: left;
	text-align: left;
	right: auto!important;
}

.align_right{
	right: 0;
	position: absolute;

	float: right;
  	text-align: right;

  	left: auto!important;
}

.align_center{
	left: 50%;
	position: absolute;
	@include transform(translateX(-50%));
	text-align: center;
	top: 0;
}

.vertical_center{
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));
}

.horizontal_center{
	position: relative;
	left: 50%;
	@include transform(translateX(-50%));
}

.center{
	position: relative;
	left: 50%;
	top: 50%;
	@include transform(translateX(-50%) translateY(-50%));
}

.vCenter{
	display: inline-table;
	height: 100%;
}

.vCenterKid{
	display: table-cell;
	vertical-align: middle;
}

.vBottomKid {
	display: table-cell;
	vertical-align: bottom;
}

.relative{
	position: relative;
}

.absolute{
	position: absolute;
}

.noMargin{
	margin: 0 !important;
}

.noPadding {
	padding: 0 !important;
}

.bold {
	font-weight: bold;
}

img{
	-moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */
    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    user-drag: none;
    max-width: 100%;
}

.noFloat{
	float: none !important;
}

.clear{
	clear: both;
}

.translateZ{
	@include transform(translateZ(0));
}

.uppercase{
	text-transform: uppercase;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}