<div class="city__currentDay"></div>
<div class="city__daySelection tCenter"></div>
<input id="sliderHour" class="city__slider" type="range" min="{{minHour}}" max="23" step="1" value="{{currentHour}}"/>