{{!-- Collection Component Template --}}

<a class='links' href='{{baseUrl}}/{{url}}'>

	<!-- The 3D layer behind -->
	<div class='tilt3d__wrapper tilt3d__wrapper--back'>
		{{!-- Grey-blue background --}}
		<div data-perspective='-10' class='bg layer'>
			<img src='{{baseUrl}}/img/background.jpg' />
		</div>

		{{!-- White square --}}
		<div data-perspective='10' class='layer'>
			<div class='square'></div>
		</div>

		{{!-- Product Image --}}
		<div data-perspective='30' class='product layer'>
			<img src='{{gallery.0.versions.medium}}' />
		</div>
	</div>

	<!-- The 3D layer behind -->
	{{!-- Blue hover overlay --}}
	<div class='hover'></div>

	<!-- Front 3D layer -->
	<div class='tilt3d__wrapper text_wrapper'>
		{{!-- Product Title --}}
		<div data-perspective='60' class='layer'>
			<div class='center'>
				<h2 class='{{titleSize}}'>{{title}}</h2>
			</div>
			<p class='horizontal_center smallTxt'>{{buttonText}}</p>
		</div>
	</div>

</a>
