{{!-- Collection Component Template --}}

<a class='links' href='{{baseUrl}}/{{url}}'>
	
	{{!-- Grey-blue background --}}
	<div data-perspective='10' class='liquid bg'>
		<img src='{{baseUrl}}/img/background.jpg' />
	</div>

	{{!-- White square --}}
	<div data-perspective='20'>
		<div class='square'></div>
	</div>

	{{!-- Product Image --}}
	<div data-perspective='30' class='liquid contain'>
		<img src='{{featured_product.attributes.gallery.value.0.versions.medium}}' />
	</div>

	{{!-- Blue hover overlay --}}
	<a class='hover' data-perspective='40'></a>

	{{!-- Product Title --}}
	<div data-perspective='50'>
		<div class='center'>
			<h2>{{title}}</h2>
			<p class='horizontal_center'>Explore Collection</p>
		</div>
	</div>

</a>
