{{!-- Header Component Template --}}

<div class='bg'></div>

<a href='{{parent.permalink}}' class='links backButton smallTxt'>Back</a>

<div class='center'>
	<h1 class='title mediumTxt'><span>{{title}}</span></h1>
	<div class='bigTxt'>{{{content}}}</div>
</div>

<a class='explore horizontal_center smallTxt' href='#'>Explore collection</a>

<div class='bottomBorder'></div>

<div class='topBorderPart1 topBorder'></div>
<div class='topBorderPart2 topBorder'></div>

<div class='canvasHolder' data-ratio='0.1'>
	<img src='{{baseUrl}}/img/seq/webp/1.webp' class='placeHolder' />
</div>