{{!-- Product Preview Component Template --}}

<a href='{{parent.permalink}}' class='links backButton smallTxt'>Back</a>

<div class='liquid fullHeight contain parallax' data-ratio='0.1'>
	<img src='{{attributes.gallery.value.0.versions.large}}' />
</div>

<div class='productNavigation horizontal_center'>
{{#each siblings}}
	<a class='links' href='{{baseUrl}}/{{this.url}}'>
		<span>{{this.title}}</span>
	</a>
{{/each}}
</div>

<div class='productDetail'>
	<h1 class='mediumTxt'>{{title}}</h1>
	<p class='smallTxt productCode'>
		Pitcher<br/>
		84/39J12/0/93K69/190
	</p>
</div>