{{#each days}}
	<a href="#" data-timestamp="{{time}}" class="day__select col-4 {{range}}">
		<div class="col-6">
			<span class="icon icon-{{current.icon}}"></span>
		</div>
		<div class="col-6">
			<div class="col-12">
				{{label}}
			</div>
			<div class="col-12">
				{{current.temperatureLabel}}
			</div>
		</div>
	</a>
{{/each}}