<h1>{{name}}</h1>

<div class="row">
	
	<div class="col-12 city__currentHour">{{hour.hour}}:00</div>
	<div class="col-6 tCenter"><span class="icon icon-{{hour.icon}} icon--big"></span></div>
	<div class="col-6">
		<div class="city__temperature">{{hour.temperatureLabel}}</div>
	</div>
</div>

<div class="row city__additionalInfo">
	<div class="col-push-2 col-4 tCenter">
		<span class="icon icon-windP icon--small"></span>
		{{hour.windSpeed}} km/h
	</div>
	<div class="col-4 tCenter">
		<span class="icon icon-rainP icon--small"></span>
		{{hour.rainLabel}}
	</div>
</div>
