<a href="/cities/{{name}}" class="links">
	<div class="col-3 vCenter tCenter">
		<span class="icon icon-{{currently.icon}} vCenterKid"></span>
	</div>
	<div class="col-2 vCenter tLeft">
		<div class="vCenterKid bold">{{currently.temperatureLabel}}</div>
	</div>
	<div class="col-5 vCenter tLeft">
		<div class="vCenterKid">
			<div class="col-12 bold">{{name}}</div>
			<div class="col-12">{{currently.summary}}</div>
		</div>
	</div>
	<div class="col-2 vCenter tCenter">
		<a href="#" class="vCenterKid cities__delete js-cityDestroy"></a>
	</div>
</a>