{{!-- Footer Template --}}
<div class='relative fullSize'>
	<h3 class='whiteT mediumTxt'>We care about the future,<br/>however present is what really matters. </h3>
	<div class='bottomArea tinyTxt'>
		<p>Consulting Services - 857 919 41791</p>
		<a href='#'>Legal Notice</a>
	</div>
</div>