{{!-- Navigation Template --}}

<div class='fullSize'>

	<div id='links' class='vertical_center bigTxt'>
		<div class='linkHolder'>
			<a href='{{baseUrl}}/{{locale}}/home' class='links'>Home</a>
		</div>

		<div class='linkHolder'>
			<a href='{{baseUrl}}/{{locale}}/history' class='links'>History</a>
		</div>

		<div class='linkHolder'>
			<a href='{{baseUrl}}/{{locale}}/products' class='links'>Collections</a>
		</div>

		<div class='linkHolder'>
			<a href='{{baseUrl}}/{{locale}}/news' class='links'>News</a>
		</div>

		<div class='linkHolder'>
			<a href='{{baseUrl}}/{{locale}}/news' class='links'>Contact</a>
		</div>
	</div>

	<p class='nav-footer tinyTxt'>Bohemia Jihlava a.s., Office Praha, Rohanské nábřeží 657/7, 187 00 Praha, Czech Republic, tel: +420 242 436 706, fax: +420 242 436 708</p>

</div>