/* line 5, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-webkit-keyframes no-anim {}
@-moz-keyframes no-anim {}
@-ms-keyframes no-anim {}
/* line 1, ../sass/_icons.scss */
.icon {
  display: inline-block;
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 2.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 15, ../sass/_icons.scss */
.icon:before {
  display: inline-block;
  width: 1em;
  text-align: center;
}
/* line 21, ../sass/_icons.scss */
.icon.icon--big {
  font-size: 6em;
}
/* line 25, ../sass/_icons.scss */
.icon.icon--small {
  font-size: 1em;
}
/* line 29, ../sass/_icons.scss */
.icon.icon-clear-day:before {
  content: '\e999';
}
/* line 32, ../sass/_icons.scss */
.icon.icon-clear-night:before {
  content: '\e95c';
}
/* line 35, ../sass/_icons.scss */
.icon.icon-rain:before {
  content: '\e978';
}
/* line 38, ../sass/_icons.scss */
.icon.icon-snow:before {
  content: '\e901';
}
/* line 41, ../sass/_icons.scss */
.icon.icon-sleet:before {
  content: '\e97a';
}
/* line 44, ../sass/_icons.scss */
.icon.icon-wind:before {
  content: '\e9cf';
}
/* line 47, ../sass/_icons.scss */
.icon.icon-fog:before {
  content: '\e956';
}
/* line 50, ../sass/_icons.scss */
.icon.icon-cloudy:before {
  content: '\e970';
}
/* line 53, ../sass/_icons.scss */
.icon.icon-partly-cloudy-day:before {
  content: '\e972';
}
/* line 56, ../sass/_icons.scss */
.icon.icon-partly-cloudy-night:before {
  content: '\e976';
}
/* line 60, ../sass/_icons.scss */
.icon.icon-windP:before {
  content: '\e9c7';
}
/* line 63, ../sass/_icons.scss */
.icon.icon-rainP:before {
  content: '\e91b';
}

/* line 2, ../sass/_grid.scss */
.col-1 {
  position: relative;
  float: left;
  width: 8.33333%;
}

/* line 8, ../sass/_grid.scss */
.col-push-1 {
  margin-left: 8.33333%;
}

/* line 2, ../sass/_grid.scss */
.col-2 {
  position: relative;
  float: left;
  width: 16.66667%;
}

/* line 8, ../sass/_grid.scss */
.col-push-2 {
  margin-left: 16.66667%;
}

/* line 2, ../sass/_grid.scss */
.col-3 {
  position: relative;
  float: left;
  width: 25%;
}

/* line 8, ../sass/_grid.scss */
.col-push-3 {
  margin-left: 25%;
}

/* line 2, ../sass/_grid.scss */
.col-4 {
  position: relative;
  float: left;
  width: 33.33333%;
}

/* line 8, ../sass/_grid.scss */
.col-push-4 {
  margin-left: 33.33333%;
}

/* line 2, ../sass/_grid.scss */
.col-5 {
  position: relative;
  float: left;
  width: 41.66667%;
}

/* line 8, ../sass/_grid.scss */
.col-push-5 {
  margin-left: 41.66667%;
}

/* line 2, ../sass/_grid.scss */
.col-6 {
  position: relative;
  float: left;
  width: 50%;
}

/* line 8, ../sass/_grid.scss */
.col-push-6 {
  margin-left: 50%;
}

/* line 2, ../sass/_grid.scss */
.col-7 {
  position: relative;
  float: left;
  width: 58.33333%;
}

/* line 8, ../sass/_grid.scss */
.col-push-7 {
  margin-left: 58.33333%;
}

/* line 2, ../sass/_grid.scss */
.col-8 {
  position: relative;
  float: left;
  width: 66.66667%;
}

/* line 8, ../sass/_grid.scss */
.col-push-8 {
  margin-left: 66.66667%;
}

/* line 2, ../sass/_grid.scss */
.col-9 {
  position: relative;
  float: left;
  width: 75%;
}

/* line 8, ../sass/_grid.scss */
.col-push-9 {
  margin-left: 75%;
}

/* line 2, ../sass/_grid.scss */
.col-10 {
  position: relative;
  float: left;
  width: 83.33333%;
}

/* line 8, ../sass/_grid.scss */
.col-push-10 {
  margin-left: 83.33333%;
}

/* line 2, ../sass/_grid.scss */
.col-11 {
  position: relative;
  float: left;
  width: 91.66667%;
}

/* line 8, ../sass/_grid.scss */
.col-push-11 {
  margin-left: 91.66667%;
}

/* line 2, ../sass/_grid.scss */
.col-12 {
  position: relative;
  float: left;
  width: 100%;
}

/* line 8, ../sass/_grid.scss */
.col-push-12 {
  margin-left: 100%;
}

/* line 13, ../sass/_grid.scss */
.row:before,
.row:after {
  display: table;
  content: " ";
}

/* line 19, ../sass/_grid.scss */
.row:after {
  clear: both;
}

/* line 1, ../sass/_page.scss */
#page {
  width: 100%;
  position: relative;
  z-index: 3;
  min-height: 100vh;
}

/* line 8, ../sass/_page.scss */
.page {
  overflow: hidden;
  position: relative;
}

/* line 1, ../sass/_cities.scss */
.cities__page {
  height: 100vh;
}
/* line 5, ../sass/_cities.scss */
.cities__page .cities__row,
.cities__page .cities__rowAdd {
  height: 16.66667vh;
}
/* line 10, ../sass/_cities.scss */
.cities__page .cities__delete {
  background-image: url(/img/delete.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
/* line 17, ../sass/_cities.scss */
.cities__page .cities__rowAdd {
  background-color: #8BC34A;
}
/* line 19, ../sass/_cities.scss */
.cities__page .cities__rowAdd .cities__add {
  width: 30px;
}

/* line 27, ../sass/_cities.scss */
.js-temp-40 {
  background-color: #ff8700;
}
/* line 31, ../sass/_cities.scss */
.js-temp-37-39 {
  background-color: #ff8700;
}
/* line 35, ../sass/_cities.scss */
.js-temp-34-36 {
  background-color: #ff8700;
}
/* line 39, ../sass/_cities.scss */
.js-temp-31-33 {
  background-color: #ff8700;
}
/* line 43, ../sass/_cities.scss */
.js-temp-28-30 {
  background-color: #ff8700;
}
/* line 47, ../sass/_cities.scss */
.js-temp-25-27 {
  background-color: #ff8700;
}
/* line 51, ../sass/_cities.scss */
.js-temp-22-24 {
  background-color: #ff9b25;
}
/* line 55, ../sass/_cities.scss */
.js-temp-19-21 {
  background-color: #ffb230;
}
/* line 59, ../sass/_cities.scss */
.js-temp-16-18 {
  background-color: #ffcd30;
}
/* line 63, ../sass/_cities.scss */
.js-temp-13-15 {
  background-color: #ffdc36;
}
/* line 67, ../sass/_cities.scss */
.js-temp-10-12 {
  background-color: #fff83b;
}
/* line 71, ../sass/_cities.scss */
.js-temp-7-9 {
  background-color: #defc4e;
}
/* line 75, ../sass/_cities.scss */
.js-temp-4-6 {
  background-color: #c3ff5d;
}
/* line 79, ../sass/_cities.scss */
.js-temp-1-3 {
  background-color: #afa;
}
/* line 83, ../sass/_cities.scss */
.js-temp-0 {
  background-color: #69c3ff;
}
/* line 87, ../sass/_cities.scss */
.js-temp--1-3 {
  background-color: #69c3ff;
}
/* line 91, ../sass/_cities.scss */
.js-temp--4-6 {
  background-color: #69c3ff;
}
/* line 95, ../sass/_cities.scss */
.js-temp--7-9 {
  background-color: #69c3ff;
}
/* line 99, ../sass/_cities.scss */
.js-temp--10-12 {
  background-color: #69c3ff;
}
/* line 103, ../sass/_cities.scss */
.js-temp--13-15 {
  background-color: #69c3ff;
}
/* line 107, ../sass/_cities.scss */
.js-temp--16-18 {
  background-color: #69c3ff;
}
/* line 111, ../sass/_cities.scss */
.js-temp--19-21 {
  background-color: #69c3ff;
}
/* line 115, ../sass/_cities.scss */
.js-temp--22-24 {
  background-color: #69c3ff;
}
/* line 119, ../sass/_cities.scss */
.js-temp--25-27 {
  background-color: #69c3ff;
}
/* line 123, ../sass/_cities.scss */
.js-temp--28-30 {
  background-color: #69c3ff;
}
/* line 127, ../sass/_cities.scss */
.js-temp--31-33 {
  background-color: #69c3ff;
}
/* line 131, ../sass/_cities.scss */
.js-temp--34-36 {
  background-color: #69c3ff;
}
/* line 135, ../sass/_cities.scss */
.js-temp--37-39 {
  background-color: #69c3ff;
}
/* line 139, ../sass/_cities.scss */
.js-temp--40 {
  background-color: #69c3ff;
}

/* line 1, ../sass/_city.scss */
.city__page {
  height: 100vh;
}
/* line 8, ../sass/_city.scss */
.city__page .city__currentDay h1 {
  font-size: 3em;
  text-align: center;
  padding-top: 1em;
}
/* line 14, ../sass/_city.scss */
.city__page .city__currentDay .city__temperature {
  font-size: 4em;
}
/* line 18, ../sass/_city.scss */
.city__page .city__currentDay .city__additionalInfo {
  margin-top: 1em;
}
/* line 22, ../sass/_city.scss */
.city__page .city__currentDay .city__currentHour {
  text-align: center;
  padding: .5em 0;
  font-size: 2em;
}
/* line 30, ../sass/_city.scss */
.city__page .city__daySelection {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
/* line 36, ../sass/_city.scss */
.city__page .city__daySelection .day__select {
  display: inline-block;
}
/* line 42, ../sass/_city.scss */
.city__page .city__slider {
  width: 90%;
  position: absolute;
  bottom: 4em;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 1, ../sass/_city.add.scss */
.cityAdd__page {
  height: 100vh;
}
/* line 5, ../sass/_city.add.scss */
.cityAdd__page #addCity {
  width: 100%;
}
/* line 9, ../sass/_city.add.scss */
.cityAdd__page label {
  display: inline-block;
  font-size: 1.5em;
  cursor: pointer;
  margin-bottom: .5em;
}
/* line 16, ../sass/_city.add.scss */
.cityAdd__page input {
  text-align: center;
  font-size: 1.5em;
  width: 60%;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'icons';
  src: url("/css/fonts/pe-icon-set-weather.eot?nlruav");
  src: url("/css/fonts/pe-icon-set-weather.eot?nlruav#iefix") format("embedded-opentype"), url("/css/fonts/pe-icon-set-weather.ttf?nlruav") format("truetype"), url("/css/fonts/pe-icon-set-weather.woff?nlruav") format("woff"), url("/css/fonts/pe-icon-set-weather.svg?nlruav#pe-icon-set-weather") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 24, ../sass/main.scss */
::-moz-selection {
  background: red;
  color: white;
  text-shadow: none;
}

/* line 30, ../sass/main.scss */
::selection {
  background: red;
  color: white;
  text-shadow: none;
}

/* line 36, ../sass/main.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}

/* line 39, ../sass/main.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}

/* line 42, ../sass/main.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}

/* line 45, ../sass/main.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}

/* line 49, ../sass/main.scss */
html {
  height: 100vh;
  overflow: hidden;
}

/* line 54, ../sass/main.scss */
body {
  background: #A1C7D8;
  font-family: 'Roboto', sans-serif;
}

/* line 59, ../sass/main.scss */
input,
textarea {
  -moz-user-select: text!important;
  -ms-user-select: text!important;
  -webkit-user-select: text!important;
  user-select: text!important;
}

/* line 64, ../sass/main.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 69, ../sass/main.scss */
a,
a:focus {
  outline: 0;
  outline: none;
}

/* line 75, ../sass/main.scss */
.fLeft {
  float: left;
}

/* line 79, ../sass/main.scss */
.fRight {
  float: right;
}

/* line 83, ../sass/main.scss */
.noEvents {
  pointer-events: none;
}

/* line 87, ../sass/main.scss */
.transition {
  -moz-transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
  -webkit-transition: all 0.3s !important;
  transition: all 0.3s !important;
}

/* line 91, ../sass/main.scss */
.hiddenOverflow {
  overflow: hidden;
}

/* line 95, ../sass/main.scss */
.block {
  display: block;
}

/* line 99, ../sass/main.scss */
.iblock {
  display: inline-block;
}

/* line 103, ../sass/main.scss */
.tCenter {
  text-align: center;
}

/* line 107, ../sass/main.scss */
.tRight {
  text-align: right;
}

/* line 111, ../sass/main.scss */
.tLeft {
  text-align: left;
}

/* line 115, ../sass/main.scss */
.fullSize {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 124, ../sass/main.scss */
.fullHeight {
  height: 100%;
}

/* line 128, ../sass/main.scss */
.fullWidth {
  width: 100%;
}

/* line 132, ../sass/main.scss */
.align_left {
  position: absolute;
  float: left;
  text-align: left;
  right: auto !important;
}

/* line 139, ../sass/main.scss */
.align_right {
  right: 0;
  position: absolute;
  float: right;
  text-align: right;
  left: auto !important;
}

/* line 149, ../sass/main.scss */
.align_center {
  left: 50%;
  position: absolute;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  top: 0;
}

/* line 157, ../sass/main.scss */
.vertical_center {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 163, ../sass/main.scss */
.horizontal_center {
  position: relative;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* line 169, ../sass/main.scss */
.center {
  position: relative;
  left: 50%;
  top: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* line 176, ../sass/main.scss */
.vCenter {
  display: inline-table;
  height: 100%;
}

/* line 181, ../sass/main.scss */
.vCenterKid {
  display: table-cell;
  vertical-align: middle;
}

/* line 186, ../sass/main.scss */
.vBottomKid {
  display: table-cell;
  vertical-align: bottom;
}

/* line 191, ../sass/main.scss */
.relative {
  position: relative;
}

/* line 195, ../sass/main.scss */
.absolute {
  position: absolute;
}

/* line 199, ../sass/main.scss */
.noMargin {
  margin: 0 !important;
}

/* line 203, ../sass/main.scss */
.noPadding {
  padding: 0 !important;
}

/* line 207, ../sass/main.scss */
.bold {
  font-weight: bold;
}

/* line 211, ../sass/main.scss */
img {
  -moz-user-select: none;
  /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none;
  /* From IE10 only */
  user-select: none;
  /* Not valid CSS yet, as of July 2012 */
  -webkit-user-drag: none;
  /* Prevents dragging of images/divs etc */
  user-drag: none;
  max-width: 100%;
}

/* line 221, ../sass/main.scss */
.noFloat {
  float: none !important;
}

/* line 225, ../sass/main.scss */
.clear {
  clear: both;
}

/* line 229, ../sass/main.scss */
.translateZ {
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/* line 233, ../sass/main.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 237, ../sass/main.scss */
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
